
@{
    ViewBag.Title = "MyExceptionView";
}
<h2>SomeException</h2>

<hgroup class="title">

    <h1 class="error">Error.</h1>

    <h2 class="error">Some thing when Wrong kindly check after few hours</h2>

</hgroup>